.container {
  max-width: 1244px;
  padding: 0 1rem;
  margin: 3rem auto 6rem;

  /* --- ここから追加 --- */
  display: flex;
  flex-direction: column;
  align-items: center; /* これで子要素を水平中央に寄せます */
  text-align: center;   /* 念のためテキストも中央揃えに */
  /* ------------------ */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}